.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contact__info {
    margin-left: 20px;
    border: 1px solid lightgreen
}


.contact__info > h2 {
    
    padding:25px;
    font-size: 55px;
    margin-bottom: 10px;
}

.contact__address {
    display: flex;
    padding:20px;
    align-items: center;
    font-size: 45px;
    font-weight:200;
}

.contact__address >p {
    margin-left: 40px
}

.contact__mobile {
    display: flex;
    padding:20px;
    align-items: center;
    font-size: 30px;
    font-weight: 200;
}

.contact__mobile > p {
    margin-left: 40px;
}



