.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    width: 100%;
    background-color: white
    
}

.header__titleright{
    display: flex;
    align-items: center;
    margin-right: 15px;

}

.header__titlelefttext > h1{
    font-size: 100px;
    font-weight: 700;
    cursor: pointer;

}

.header__titlerighttext   {
    font-size:40px;
    font-weight:200;
    text-decoration: none;
    margin-right: 16px;
}

.header__titleinfo {
    font-size:40px;
    font-weight:200;
    margin-left: 18px;
}